/*/////////////////////////////// burger navbar //////////////////////////*/
.topnav {
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #0078b4;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {

    /* hide classic menu */
    #topnav_menu {
      display: none;
    }
  
    /* position home link at left and hamburger at right */
    #home_link {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    #root {
      position: relative;
      overflow: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
/*/////////////////////////////// navbar normal //////////////////////////*/
.img{
  width: 100px;
  height: auto;
}
.flex-header{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; 
  gap: 50px;
}
.top-header{
  padding-top: 20px;
  padding-left: 20px;
}
.navlink{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: larger;
  font-weight: bold;
}
.navlink:hover{
  color: rgb(204, 125, 138);
}
.navdisplay{
  justify-content: space-between;
  padding-top: 10px;
}
.backgroundcolor{
  background-color: #333;
}
.stickyheader {
  position: sticky;
  top: 0;
  width: 100%;
}
/*/////////////////////////////// footer //////////////////////////*/
.footer{
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #333;
}
.textfooter{
  padding-top: 18.5px;
  margin: 0%;
  color: white;
  font-family: sans-serif;
}
/*/////////////////////////////// body //////////////////////////*/
.nospace{
  padding: 0%;
  margin: 0%;
  background-color: black;
  color: white;
}
html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}
.pageContentWrapper{
  margin-bottom:50px;/* Height of footer*/
} 
/* footer 2e part */
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
}
/*/////////////////////////////// CONTENT //////////////////////////*/
.accueil{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote{
  display: flex;
  justify-content: center;
  align-items: center;
}
.guillemet{
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.quotetext{
  font-size: larger;
  padding-top: 40px;
  font-family: sans-serif;
}

.box{
  background-color: rgb(75, 75, 75);
  padding: 60px;
  margin: 25px;
  border-radius: 25px;
}

.author{
  text-decoration: none;
  font-size: large;
  font-family: sans-serif;
  font-style: italic;
  color: rgb(204, 125, 138);
  padding-left: 30px;
  word-wrap: break-word;
  padding-bottom: 3px;
}

.author:hover{
  color: white;
}

.citations{
  text-align: center;
  display: row;
  width: 70%;
  padding-left: 15%;
  justify-content: center;
  align-items: center;
}

.pages{
  text-align: center;
  padding: 70px;
}

.page{
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-right: 8px;
  background-color: rgb(75, 75, 75);
  border-radius: 14px;
  margin: 5px;
}

.page:hover{
  color: rgb(204, 125, 138);
  background-color: rgb(98, 98, 98);
}

.author-container {
  background-color: rgb(75, 75, 75);
  height: 80%;
  margin:40px 10% 20px 10%;
  border-radius: 25px;
  padding: 20px;
}

.column{
  display: flex;
  justify-content: center;
}

.border{
  color: white;
  margin: 3px;
  padding: 2px;
  border: none;
  border-radius: 5px;
  background-color: rgb(88, 88, 88);
}

.border:hover{
  background-color: rgb(66, 66, 66);
}

.button{
  justify-content: center;
  align-content: center;
  background-color: #333;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
  font-family: sans-serif;
}

.button:hover{
  cursor:pointer;
  background-color: rgb(204, 125, 138);
}

.textpanel{
  font-size: 15px;
  font-family: sans-serif;
}

.spaced{
  margin-left: 5px;
  margin-right: 5px;
}

h2{
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
}

h3{
  font-family: sans-serif;
  font-size: 22px;
  color: rgb(212, 212, 212);
}




.angry-animate{
  -webkit-animation:appear 3.5s ease 0s 1 normal;
  -moz-animation:appear 3.5s ease 0s 1 normal;
  -ms-animation:appear 3.5s ease 0s 1 normal;
  animation:appear 3.5s ease 0s 1 normal;
  }
  
  @-webkit-keyframes appear {
  0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
  60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
  }
  @keyframes appear {
  0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
  60%{ opacity: 1; transform: scale3d(1,1,1); }
  }
  

@media only screen and (max-width: 768px){
  .box{
    padding: 10px;
  }
  .citations{
    width: 95%;
    padding-left: 2.5%;
  }
  .column{
    display: block;
    padding-bottom: 2px;
  }
  .textpanel{
    font-size: 15px;
    font-family: sans-serif;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 3px;
    margin-top: 0%;
    margin-bottom: 5px;
  }
}